body {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.carta {
  width: 65vw;
  height: 85vh;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: left;
  animation-duration: 1.2s;
  animation-name: slidein;
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
.gradient {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 10px 45% 10px 20px;
  overflow: auto;
}
.gradient::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 3em;
}
.datos {
  display: flex;
  align-items: stretch;
}
h2 {
  margin: 5px;
  padding: 5px;
  font-size: 0.9em;
  border: 1px solid white;
}
.return-button {
  height: 60px;
  width: 60px;
  background-image: url(images/leftArrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: all 0.2s;
}
.return-button:hover {
  transform: scale(1.15);
}
@keyframes slidein {
  from {
    margin-right: -100%;
    margin-left: 100%;
  }

  to {
    margin-right: 0%;
    margin-left: 0%;
  }
}
